.my-nav {
  display: flex;
  align-items: center;
}

.my-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  min-height: calc(100vh - 120px);
}

input[type="file"] {
  display: none;
}

label.upload-label {
  background-color: #1962a7;
  color: white;
  width: 300px;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.upload-icon {
  width: 30px;
  height: 30px;
}

.image-uploaded {
  max-width: 800px;
  max-height: 500px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.my-btn {
  color: #fff;
  background-color: #1962a7;
  border-radius: 15px;
}

.my-btn:hover {
  background-color: #13508a;
  color: #fff;
}

img[src=""] {
  display: none;
}

a.download-url {
  color: #fff;
  text-decoration: none;
}

a.download-url:hover {
  color: #fff;
  text-decoration: none;
}

button:disabled {
  background-color: gray;
}

button:disabled:hover {
  background-color: gray;
}
